@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "heading";
    src: local("Poppins-Bold"),
    url('./images/fonts/Poppins-Bold.ttf') format("truetype")
}

@font-face{
    font-family: "para";
    src: local("Poppins-Regular"),
    url('./images/fonts/Poppins-Regular.ttf') format("truetype")
}